<p id="notice"><%= notice %></p>

<p>
  <strong>Scale:</strong>
  <%= @emotion.scale %>
</p>

<p>
  <strong>Feelings:</strong>
  <%= get_translated_keys(@emotion.feelings.pluck(:name), "feelings_types", @emotion.feelings.pluck(:name)) %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @emotion.trigger %>
</p>

<p>
  <strong>Thought:</strong>
  <%= @emotion.thought %>
</p>

<p>
  <strong>Action:</strong>
  <%= @emotion.action %>
</p>

<%= link_to 'Edit', edit_emotion_path(@emotion) %> |
<%= link_to 'Back', emotions_path %>
