<p id="notice"><%= notice %></p>

<p>
  <strong>Escala:</strong>
  <%= @emotion.scale %>
</p>

<p>
  <strong>Sentimentos:</strong>
  <%= get_translated_keys(@emotion.feelings.pluck(:name), "feelings_types", @emotion.feelings.pluck(:name)) %>
</p>

<p>
  <strong>Gatilho:</strong>
  <%= @emotion.trigger %>
</p>

<p>
  <strong>Pensamento:</strong>
  <%= @emotion.thought %>
</p>

<p>
  <strong>Ação:</strong>
  <%= @emotion.action %>
</p>

<%= link_to 'Edit', edit_emotion_path(@emotion) %> |
<%= link_to 'Back', emotions_path %>
