<%= simple_form_for @activity do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "erro") %> proibiu essa ação de ser salva:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <%= form.input :category_id, collection: current_user.categories, label: false, prompt: "Categoria", required: true %>
  <%= form.input :start_time, as: :datetime, input_html: { id: "datetime-selector" }, label: 'Início' %>
  <%= form.input :end_time, as: :datetime, input_html: { id: "datetime-selector" }, label: "Fim" %>
  <%= form.input :name, placeholder: "Nome", label: false, hint: "ex.: Cozinhar" %>
  <%= form.input :mastery, placeholder: "Maestria", label: false , hint: "ex.: 7.5" %>
  <%= form.input :pleasure, placeholder: "Prazer", label: false, hint: "ex.: 8.5" %>
  <%= form.input :comment, as: :text, label: false, placeholder: "Comentário" %>
  <%= form.input :user_id, id: :activity_user_id, input_html: { type: :hidden, value: current_user.id }, label: false %>

  <br/>
  <div class="actions row justify-content-center">
      <%= form.submit class: "btn btn-secondary btn-lg" %>
  </div>

<% end %>
<script>
  $('select[id*="datetime-selector"]').wrap('<div class="select_wrapper">');
</script>