<%= simple_form_for @activity do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "erro") %> proibiu essa ação de ser salva:</h2>

      <ul>
        <% activity.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="form-group field">
    <%= form.input :category_id, collection: current_user.categories, input_html: { class: "form-control" }, label: false, prompt: "Categoria", required: true %>
  </div>
  <%= form.input :start_time, as: :datetime, label: 'Hora' %>
  <div class="form-group field">
    <%= form.input :name, input_html: { class: "form-control" }, placeholder: "Nome, ex.: Cozinhar", label: false %>
  </div>
  <div class="form-group field">
    <%= form.input :end_time, as: :datetime, input_html: { class: "form-control" }, label: false %>
  </div>
  <div class="form-group field">
    <%= form.input :mastery, input_html: { class: "form-control" }, placeholder: "Maestria, ex.: 7.5", label: false %>
  </div>
  <div class="form-group field">
    <%= form.input :pleasure, input_html: { class: "form-control" }, placeholder: "Prazer, ex.: 8.5", label: false %>
  </div>
  <div class="form-group field">
    <%= form.input :comment, as: :text, input_html: { class: "form-control" }, label: false, placeholder: "Comentário" %>
  </div>
  <div class="form-group field">
    <%= form.input :user_id, id: :activity_user_id, input_html: { class: "form-control", type: :hidden, value: current_user.id }, label: false %>
  </div>
  <br/>
  <div class="actions">
      <%= form.submit class: "btn btn-secondary btn-lg" %>
  </div>

<% end %>
