
<% if user_signed_in? %>
  <h1>Lista de atividades</h1>
  <br>
  <%= link_to 'Nova Atividade', new_activity_path, class: "btn btn-secondary" %><br>
  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Masteria</th>
        <th>Prazer</th>
        <th>Comentário</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
        <% if activity.user == current_user %>
          <tr>
            <td><%= link_to activity.name, activity, class: "btn btn-secondary btn-sm"%>
            <td><%= activity.category %></td>
            <td><% if activity.start_time? %>
                  <%= activity.start_time.to_formatted_s(:time) %>
                <% end %>
            </td>
            <td><% if activity.end_time? %>
                  <%= activity.end_time.to_formatted_s(:time) %>
                <% end %></td>
            <td><%= activity.mastery %></td>
            <td><%= activity.pleasure %></td>
            <td><%= activity.comment %></td>
            <td>
                <%= link_to 'Deletar', activity, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-secondary btn-sm" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  

<% else %>
  <h1>Bem-vindo ao Rout</h1>
  <p>Aqui você pode registrar sua rotina e acompanhar seu desenvolvimento pessoal!</p>
<% end %>