

<div class="jumbotron">
  <h1 class="display-4"><%= @activity.name %></h1>
  <p class="lead"><%= @activity.category %> | <%= @activity.start_time %> - <%= @activity.end_time %> | 
    <strong>Mastery:</strong>
    <%= @activity.mastery %> |
    <strong>Pleasure:</strong>
    <%= @activity.pleasure %>
  
  
  </p>
  <hr class="my-4">
  <p><%= @activity.comment %></p>
  <%= link_to 'Editar', edit_activity_path(@activity), class: "btn btn-secondary btn-lg" %>
  <%= link_to 'Deletar', @activity, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-secondary btn-lg" %>
  <%= link_to 'Voltar', activities_path, class: "btn btn-secondary btn-lg" %>
</div>


