<% content_for :date_title do %>
      <%= @activity.name %>
      <% if @activity.start_time? %>
        &ndash; <%= @activity.start_time.to_s(:nice_date) %>
      <% end %>
    <% end %>

<div class="jumbotron">
  <h2 class="display-6"><%= yield :date_title %></h2>
  <p class="lead"><%= @activity.category.title %> | <%= @activity.start_time %> - <%= @activity.end_time %> | 
    <strong>Maestria:</strong>
    <%= @activity.mastery %> |
    <strong>Prazer:</strong>
    <%= @activity.pleasure %>
  </p>
  <hr class="my-4">
  <p><%= @activity.comment %></p>
  <%= link_to 'Editar', edit_activity_path(@activity), class: "btn btn-secondary btn-lg" %>
  <%= link_to 'Deletar', @activity, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-secondary btn-lg" %>
  <%= link_to 'Voltar', :back, class: "btn btn-secondary btn-lg" %>
</div>


